.container {
	margin-top:50px;
}

.result {
	margin-top:80px;
}

.post-sender {
	margin-top: 30px;
	margin-bottom: 20px;
}

input {
	margin-top: 2px;
}

img {
	width: 80px;
	height: 80px;
	margin-left: 20px;
	border-radius:50%;
}

nav {
	font-family: Roboto, arial, helvetica;
	user-select: none;
}