.logout-icon {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 2px solid rgb(18, 18, 18);
}

nav {
	font-family: Roboto, arial, helvetica;
	--color1: #FFF;
	--color2: #181818;
	user-select: none;

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	position: relative;
	background-color: var(--color2);
}

.logo {
	margin-left: -20px;
	padding-top: 10px;
}

.logo img {
	width: 70px;
	height: 70px;
	border-radius:50%;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 25%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -30%;
	z-index: 100;
	background-color: var(--color2);
	transition: all 0.5s ease-in-out;
}

.menu li {
	padding-top: 10px;
}

.menu li a {
	display: inline-block;
	text-decoration: none;
	color: var(--color1);
	transition: 0.15s ease-in-out;
	position: relative;
	text-transform: uppercase;
}

.menu li a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--color1);
	transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
	width: 100%;
}

.open-menu, .close-menu {
	position: absolute;
	color: var(--color1);
	cursor: pointer;
}

.open-menu {
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	z-index: 10;
	font-size: 1.5rem;
}

.close-menu {
	top: 35px;
	right: 20px;
	display: none;
	font-size: 1.6rem;
}

.user-text {
	top: 42px;
	left: 20px;
	position: absolute;
	color: var(--color1);
	font-size: 1.1rem;
}

/*@media only screen and (max-width: 768px) {
  .menu {
    width: 70%;
  }
}*/