* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

.container {
	margin-top:50px;
}

.result {
	margin-top:80px;
}

.post-sender {
	margin-top: 40px;
	margin-bottom: 20px;
}

input {
	margin-top: 2px;
}