* {
    padding: 0%;
    margin: 0%;
    user-select: none;
}

body {
    background-color: black;
}

#logo {
    top: 50%;
    left: 50%;
    position: absolute;
    justify-content: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#main {
    display: flex;
    flex-direction: column;
}

.primary {
    display: flex;
    align-items: baseline;
}

img {
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror HTML */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Old versions of Opera */
    user-drag: none;
  }
  
#image-m {
    height: 200px;
    width: 202px;
}

#logo-name {
    font-size: 8em;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

#base-name {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 60px;
    overflow: hidden;    
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 3em;
    transform: translateY(-.5em);
    text-align: center;
}

#base-name div.base-name-1 {
    animation: hackscroll 0.5s ease-in-out 1;
    animation-fill-mode: forwards;
}
#base-name div.base-name-2 {
    animation: hackscroll 0.4s ease-in-out 1;
    animation-fill-mode: forwards;
}
#base-name div.base-name-3 {
    animation: hackscroll 0.3s ease-in-out 1;
    animation-fill-mode: forwards;
}

@keyframes hackscroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-66.66%);
    }
}

@media (max-width: 800px) {
    #logo-name {
        display: none;
    }

    #base-name {
        display: none;
    }
}