<header>
    <nav class="navbar navbar-light bg-dark">
    	<ul>
    		<li class="logo">
    			<a class="navbar-brand fw-bold text-light site-logo" href="{{url_for('index')}}">
		            <img src="{{url_for('static', filename='logo.png')}}"/>
		            Movies Hub
		        </a>
    		</li>
    		<span class="menu">
                {% if not session.get("userid") %}
                    <li><a href="{{url_for('login')}}"> Login </a></li>
                {% endif %}

    			<li><a href="{{url_for('search_movie')}}"> Search Movie </a></li>
    			<li><a href="#"> Request a movie</a></li>
    			<li><a href="https://docs.google.com/spreadsheets/d/1qofdifx00CyDbtc1Gnq7pMhd0F7KJ3e2AWSGv4MUNWQ/edit?usp=sharing" target="_blank"> Check Database </a></li>

                {% if session.get("userid") %}
                    <li><a href="{{url_for('update_posts')}}"> Update Posts </a></li>
                    <li><a href="{{url_for('upload_movie')}}"> Upload Movie </a></li>
                    <li><a href="{{url_for('forward_movies')}}"> Forward Movie </a></li>
                    <span class="user-text">Hello Admin</span>
                {% endif %}

    			<li><a href="{{url_for('logout')}}"> Logout </a></li>

    			<span class="close-menu"><i class="fas fa-times"></i></span>
    		</span>
    		<span class="open-menu"><i class="fas fa-bars"></i></span>
    	</ul>
    </nav>
</header>