<header>
    <nav class="navbar navbar-light bg-dark">
    	<ul>
    		<li class="logo">
    			<a class="navbar-brand fw-bold text-light site-logo" href="{{url_for('index')}}">
		            <img src="{{url_for('static', filename='icon.jpg')}}"/>
		            Movies Hub
		        </a>
    		</li>
    		<span class="menu">
    			<li><a href="#"> Search </a></li>
    			<li><a href="#"> Request a movie</a></li>
    			<li><a href="https://docs.google.com/spreadsheets/d/1qofdifx00CyDbtc1Gnq7pMhd0F7KJ3e2AWSGv4MUNWQ/edit?usp=sharing"> Check Database </a></li>
    			<li><a href="#"> Update Posts </a></li>
    			<li><a href="{{url_for('logout')}}"> Logout </a></li>
    			<hr/>
    			<span class="close-menu"><i class="fas fa-times"></i></span>
    			<span class="user-text">Hello Admin</span>
    		</span>
    		<span class="open-menu"><i class="fas fa-bars"></i></span>
    	</ul>
      
        <!-- <a class="navbar-brand fw-bold text-light" href="{{url_for('logout')}}">
            <img class="logout-icon" src="{{url_for('static', filename='logout.png')}}"/>
        </a> -->
    </nav>
</header>