<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movies Hub</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="static/index.css">
</head>
<body>
	<header>
	    <nav class="navbar navbar-light bg-dark">
	        <a class="navbar-brand fw-bold text-light" href="{{url_for('index')}}">
	            <img src="{{url_for('static', filename='icon.jpg')}}"/>
	            Movies Hub
	        </a>
	    </nav>
	</header>

	<div class="container">
		<div class="url-gen">
			<form name="movieurl" autocomplete="off">
				<fieldset class="border p-4">
				   <legend  class="float-none w-auto p-2">URL Generator</legend>
				
					<div class="mb-3">
						<label for="moviename" class="form-label">Movie Name</label>
					    <input type="text" class="form-control moviename" required="required">
					</div>
					<div class="mb-3">
					    <label for="moviehash" class="form-label">Movie hash</label>
					    <input type="text" class="form-control moviehash" required="required">
					</div>
					<button type="button" class="btn btn-primary gen-btn">Generate</button>

				</fieldset>
			</form>

			<div class="p-3 mt-2" style="background:#90EE90;border-radius:10px;overflow:auto;">
				<p class="shorten-url" style="color:white;"></p>
			</div>
		</div>

		<hr/>

		<div class="post-sender">
			<form name="postbot" action="/postbot" method="post" autocomplete="off">
				<fieldset class="border p-4">
				   <legend  class="float-none w-auto p-2">Send Post on TG</legend>
				
					<div class="mb-3">
						<label for="moviename" class="form-label">Image URL</label>
					    <input type="text" class="form-control" name="imageurl" required="required">
					</div>
					<div class="mb-3">
					    <label for="moviehash" class="form-label">Caption</label>
					    <input type="text" class="form-control" name="caption" required="required">
					</div>

					<div class="mb-3">
					    <label for="text480" class="form-label">480p Data</label>
					    <input type="text" class="form-control" name="text480" placeholder="480p text">
					    <input type="text" class="form-control" name="url480" placeholder="hash-url">
					</div>

					<div class="mb-3">
					    <label for="text720" class="form-label">720p Data</label>
					    <input type="text" class="form-control" name="text720" placeholder="720p text">
					    <input type="text" class="form-control" name="url720" placeholder="hash-url">
					</div>

					<div class="mb-3">
					    <label for="text1080" class="form-label">1080p Data</label>
					    <input type="text" class="form-control" name="text1080" placeholder="1080p text">
					    <input type="text" class="form-control" name="url1080" placeholder="hash-url">
					</div>

					<button type="submit" class="btn btn-primary">Send</button>

				</fieldset>
			</form>
 		</div>
		
	</div>

	<script type="text/javascript">
		const btn = document.querySelector(".gen-btn");
		let moviename = document.querySelector(".moviename");
		let moviehash = document.querySelector(".moviehash");
		let shorten_url = document.querySelector(".shorten-url");

		btn.addEventListener("click", () => {
			let data = { "name": moviename.value,
						 "hash": moviehash.value
						};

			fetch("/movieurl", {
			    method: 'POST',
			    headers: {
			        'Content-Type': 'application/json'
			    },
			    body: JSON.stringify(data)
			})
			.then(response => response.json())
			.then(data => shorten_url.innerText = data["url"]);
		})

		if ( window.history.replaceState ) {
	        window.history.replaceState( null, null, window.location.href );
	    }
	</script>
</body>
</html>