<!DOCTYPE html>
<html lang="en">
<head>
    <title>MoviesHub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/logo.css">
</head>
<body>
    <div id="logo">
        <div class="netflix">
        </div>
        <div class="rightb">
        </div>
        <span>oviesHub</span>
    </div>
    
   	<script>
        const logo = document.querySelector("#logo");
        setTimeout(openSearchPage, 3000);

        function openSearchPage() {
            window.location.href = '/search'
        }

	    if ( window.history.replaceState ) {
	        window.history.replaceState( null, null, window.location.href );
	    }
	</script>
</body>
</html>
