{% extends "layout.html" %}

{% block stylesheet %}
	<link rel="stylesheet" href="static/css/search.css">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
	<div class="row text-center mt-4">
        <p class="fs-5 col-12">Download your favorite movies for free</p>
    </div>

	<form autocomplete="off">
        <div class="row form-div" style="margin-top: 20px;">
            <div class="col-1"></div>
            <label for="moviename" class="col-2 col-form-label text-end">MovieName</label>
            <div class="col-6">
                <input type="text" placeholder="pathaan" class="form-control" id="moviename" name="moviename">
            </div>
            <div class="col-1">
                <button type="submit" class="btn search-icon text-start">
                    <img src="{{url_for('static', filename='search.png')}}">
                </button>
            </div>
        </div>
    </form>

    <div class="results">
        <div class="row row-template">
             <div class="col-1"></div>
             <div class="col-10 result-row">
                <div class="row">
                    <div class="col-6">
                    <span class="title">Pathaan</span><br/>
                    <span class="detail">2022 WebRip Hindi</span>

                    <div>
                        <button class="btn btn-primary 480p first">480p 500mb</button>
                    </div>
                    <div>
                        <button class="btn btn-primary 720p">720p 1.2gb</button>
                    </div>
                    <div>
                        <button class="btn btn-primary 1080p">1080p 2.7gb</button>
                    </div>
                </div>
                
                <div class="col-6">
                    <img class="thumbnail" src="https://m.economictimes.com/thumb/msid-97434971,width-1280,height-720,resizemode-4,imgsize-183376/pathaan.jpg"/>
                </div>
                </div>
             </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    
    const container = document.querySelector(".results");
    const rowTemplate = document.querySelector(".row-template");
    container.innerHTML = ""

    const form = document.querySelector("form");
    form.addEventListener("submit", function(e){
        e.preventDefault();
        var input = form.querySelector("#moviename");
        console.log(`/movie/${input.value}`)
        fetch(`/movie/${input.value}`)
        .then(data => data.json())
        .then(results => populateData(results));
    });

    function download(url) {
        var hash = url.split("url=")[1];
        var unhash = "";
        for (var i=0; i<hash.length; i++) {
            ascii = hash.charCodeAt(i) - 1;
            unhash += String.fromCharCode(ascii);
        }
        console.log(unhash);
        window.location.href = unhash;
    }

    function populateData(data) {
        container.innerHTML = "";
        data.forEach(result => {
        const newRow = rowTemplate.cloneNode(true);

        const title = newRow.querySelector(".title");
        const detail = newRow.querySelector(".detail");
        const thumbnail = newRow.querySelector(".thumbnail");
        const btn480p = newRow.getElementsByClassName("480p")[0];
        const btn720p = newRow.getElementsByClassName("720p")[0];
        const btn1080p = newRow.getElementsByClassName("1080p")[0];

        title.textContent = result.name;
        detail.textContent = result.detail;
        thumbnail.src = result.img_url;
        if (result.url480p) {
            btn480p.textContent = result.text480p;
            btn480p.onclick = () => download(result.url480p);
        }
        else{ btn480p.style.display = "none"; }

        if (result.url720p) {
            btn720p.textContent = result.text720p;
            btn720p.onclick = () => download(result.url720p);
        }
        else{ btn720p.style.display = "none"; }

        if (result.url1080p) {
            btn1080p.textContent = result.text1080p;
            btn1080p.onclick = () => download(result.url1080p);
        }
        else{ btn1080p.style.display = "none"; }

        container.appendChild(newRow);
        })
    }

    console.log("done");
{% endblock %}